.h2{
    text-align: Center;
    padding-top:5%;
    padding-bottom: 5%;
  }
.h22{
    text-align: Left;
    padding-top:5%;
    padding-bottom: 5%;
  }
.p {
    padding-left:10px;
    text-align: justify;
}
.pix{
      width:120%;
  }
.pix1{
    margin-bottom:5px;
    width: 60%;
    float: left;
    margin-right: 10px;
}
#img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


    