<<<<<<< HEAD
.h2{
    text-align: Center;
    padding-top:5%;
    padding-bottom: 5%;
  }
.h22{
    text-align: Left;
    padding-top:5%;
    padding-bottom: 5%;
  }
.p {
    padding-left:10px;
    text-align: justify;
}
.pix{
      width:120%;
  }
.pix1{
    margin-bottom:5px;
    width: 60%;
    float: left;
    margin-right: 10px;
}
#img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


=======
.par{
    text-decoration-color: black
}
h1 {
    font-size: 40px;
    padding-left: 0%;
    padding-top: 5%;
    text-align: center;
  }
.borderBox{
      border-width:5px;
      border-color: white;
      border-style: dotted;
      margin-top: 4%;
      margin-bottom: 4%;
  }
.pix{
      width:120%;
  }
.pix1{
    margin-bottom:5px;
    width: 60%;
    float: left;
}
.li{
    float:right;
}
@media (max-width: 600px){
    .borderBox{
        background-color: aquamarine;
}

>>>>>>> bee0e879e4c6008d4ba32d887d60910086d390a5
    